.card-img {
    height: 360px;
    width: 300px;
    border-radius: 10px;
}

.card-img-info {
    position: relative;
    border: 2px solid blue;
    border-radius: 10px;
}

.card-img-info:hover {

    border-radius: 10px;
    box-shadow: 5px 5px 10px black;

}

.card-text {
    position: absolute;
    bottom: 20px;
    left: 20px;
}