.App {

  color: white;
  margin-top: 0px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('./images/Rectangle\ 1.png');
  width: 100%;
  height: 100%;
  background-size: cover;
  background-attachment: fixed;
  margin: 0px;
}